<%- include("../../partials/header.ejs") %>
<%- include("../../partials/navbar.ejs") %>
<body>
    <div class="container"> 
        <hr>
        <div class="card">
            
            <div class="card-header">
                <h2>Novo Artigo</h2>
            </div>

            <div class="card-body">
                <form method="POST" action="/categories/save">
                    <input class="form-control" type="text" name="title" placeholder="Defina o titulo do Artigo"><br>
                    <textarea class="form-control" placeholder="Escreva o artigo aqui!" name="body" id= "article"></textarea><br>
                    <label>Categoria</label>
                    <select name="category" class="form-control">
                        <% categories.forEach(category) => { %>
                        <option value="<% category.id %> "><%=category.title %> </option>
                        <% }) %> 
                    </select> 
                    <button class="btn btn-success float-lg-right"> Cadastrar</button>
                </form>
            </div>
        </div>
    </div>
</body>

<%- include("../../partials/footer.ejs") %>

<script src="/tinymce/tinymce.min.js"></script>
<script>
        tinymce.init({
            language: 'pt_BR',
            selector: "#article",
            plugins : [
            'advlist autolink link imag lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'
            ]
            
            
            

               
        
            
        })
</script>